.filters-and-jobs {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 0px 20px white;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 600px;
}

.filters-and-jobs form {
  margin: 30px 10px 10px 10px;
}

.filters-and-jobs form select, button {
  box-shadow: 2px 2px 2px rgb(184, 184, 184);
}

#submit-btn {
  margin-left: 10px;
}

.map {
  width: 75%;
}

.jobs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0px 10px 10px 10px;
  color: white;
  overflow-y: scroll;
}

.jobs::-webkit-scrollbar {
  width: 10px;
}

.jobs::-webkit-scrollbar-track {
  background: white;
}

.jobs::-webkit-scrollbar-thumb {
  background-color: #038c3e;
  border-radius: 20px;
}

.job {
  box-shadow: 2px 2px 2px rgb(184, 184, 184);
  padding: 10px;
  border-radius: 10px;
  background-color: #038c3e;
  padding-top: 10px;
  text-align: justify;
  margin-top: 10px;
  margin-right: 15px;
}