#back {
    background-color: #d9d5d2;
}

.vaga {
    max-width: 1000px;
    margin: 30px auto;    
    border-radius: 8px;   
    background-color: #038c3e;
    color: white;
}

.content_vagas {
    flex: 1 0 auto; 
}

.myselect {
    width: 240px;
    border-radius: 10px;
    padding: 5px;
}

.courses-title {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #038c3e;
    text-shadow: #707070 1px 1px 2px;
}

.courses-title h1 {
    text-align: center;
}

.byfilter {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    gap: 20px;
}

.filter_btn {
    width: 80px;
    background-color: #038c3e;
    color: white;
    border: none;
    border-radius: 8px;
}

.paginate {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #038c3e;
}

.plusbtn {
    background-color: #038c3e;
    border: none;
}
.description {
    background-color: #038c3e;
    border-radius: 7px;
    margin: 5px 4px;
    text-align: justify;
}
.col {      
    height: 70px;    
}

#job-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 60px;
}

#job-description {
    padding: 0px 56px 20px;
}

.texto {
    text-align: justify;
}

.bold-titles {
    font-weight: bold;
}

#job-links {
    padding-right: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.redirect-btn {
    background-color: #038c3e;
    border: none;
}

.text-start {
    margin: 0px;
    padding: 0px;
}

.btn {
    margin: 5px;
}