html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.my-navbar {
    background-color: #038c3e;
}


.my-footer {
    background-color: #038c3e;
    flex-shrink: 0;
}

footer img {
    margin:15px
}
